@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.section1 {
    background-color: rgb(255, 214, 138);
}

.section2 {
    background-color: lightblue;
}

#ul-list{
    background-color: rgb(252, 159, 59);
}

.responsive {
width: 100%;
height: auto;
}

.arrows-icon {
    display: inline-block;
    margin-top: 14px;
    margin-right: 31px;
}

.initiate-button {
    background-color: lightblue;
    border-radius: 5px;
    border-color: darkblue;
    font-weight: bolder;
}